<app-user-nav></app-user-nav>
<div class="screen">
  <div class="message">
    <app-messages></app-messages>
  </div>
  <div class="body">
    <div class="post" *ngFor="let post of allposts">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar>
            <img
              src="{{ post.userImage }}"
              alt=""
              class="example-header-image"
            />
          </div>
          <mat-card-title>{{ post.userName }}</mat-card-title>
          <mat-card-subtitle>{{ post.uploadDate | date }}</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="{{ post.image }}"
          alt="Photo of a Shiba Inu"
          class="postImage"
        />
        <mat-card-actions>
          <button mat-button (click)="likePost(post._id)">
            LIKE
            {{ post.likes_count }}
          </button>
          <button mat-button (click)="openDialog(post._id)">
            COMMENT {{ post.comment_count }}
          </button>
        </mat-card-actions>
        <!--  -->

        <!--  -->
        <mat-card-content>
          <p>
            {{ post.discription }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="notification">
    <app-notification></app-notification>
  </div>
</div>
<div></div>
