<app-user-nav></app-user-nav>
<div class="screen">
  <div class="message">
    <div class="messages">hello</div>
    <div class="messages"></div>
    <div class="messages"></div>
    <div class="messages"></div>
    <div class="messages"></div>
  </div>
  <div class="body">
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
  </div>
  <div class="notification">
    <div class="notifications">thanks</div>
    <div class="notifications"></div>
    <div class="notifications"></div>
    <div class="notifications"></div>
    <div class="notifications"></div>
  </div>
</div>
