.body {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
   align-items: center;
} 
.screen{
  display: flex;
  justify-content: space-around;
}
.example-card {
  max-width: 650px;
  margin-bottom: 10px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}