<app-user-nav></app-user-nav>
<div
  class="profile-box"
  *ngIf="userProfile$ | async as userProfile; else loading"
>
  <div class="top">
    <div class="image">
      <img src="{{ userProfile.image }}" alt="" class="imageProfile"/>
      <p>
        {{ userProfile.userName }}
        <button mat-button color="primary" (click)="editProfile()"><mat-icon>create</mat-icon></button>
      </p>
    </div>
    <div class="posts-count">
      <p class="number">{{ userProfile.posts }}</p>
      <p>posts</p>
    </div>
    <div class="followers">
      <p class="number">{{ userProfile.followers }}</p>
      <p>followers</p>
    </div>
    <div class="following">
      <p class="number">{{ userProfile.following }}</p>
      <p>following</p>
    </div>
  </div>
  <div class="middle">
    <!-- <p>{{userProfile.email}}</p> -->
    <!-- <p>{{userProfile.phone}}</p> -->
    <!-- <p>{{userProfile.dateOfBirth}}</p> -->
    <p>{{ userProfile.discription }}</p>
  </div>
  <div class="bottom"></div>
  <div class="bottom-section">
    <div class="post-section">
      <p>All posts</p>
      <!-- <p>Liked posts</p> -->
    </div>

    <div class="posts" >
      <div class="post" *ngFor="let post of posts">
        <img src="{{ post.image }}" alt="" class="postImage" />
      </div>
      <!-- <mat-tab-group>
        <mat-tab label="All Posts"  >
          
        </mat-tab>
        <mat-tab label="Liked Post">
          <img src="{{ userProfile.image }}" alt="" />
          <img src="{{ userProfile.image }}" alt="" />
          <img src="{{ userProfile.image }}" alt="" />
          <img src="{{ userProfile.image }}" alt="" />
          <img src="{{ userProfile.image }}" alt="" />
          <img src="{{ userProfile.image }}" alt="" />
          <img src="{{ userProfile.image }}" alt="" />
          <img src="{{ userProfile.image }}" alt="" />
          <img src="{{ userProfile.image }}" alt="" />
          <img src="{{ userProfile.image }}" alt="" />
        </mat-tab>
      </mat-tab-group> -->
    </div>
  </div>
</div>
<ng-template #loading><mat-spinner class="loading"></mat-spinner></ng-template>
